<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>VUE</title>
  <meta name="description" content="Vue">
  <meta name="author" content="Massimiliano Salerno">

</head>

<body>
    <main>
        <h1>{{ text }}</h1>
        <input type="text" v-model = "name" />
        <hr>
        <p><input type="text" v-model = "note" /></p>
        <strong v-if="note && note >= 5 && note <= 99">Promosso</strong>
        <strong v-else-if="note && note == 100">Eccellente</strong>
        <span v-else>Sospeso</span>

        <hr>

        
        <hr>
        <h1>Lista di frutta</h1>
        
          <div v-for="(fruit, index) in fruits">
            {{index}}: 
            
              <p v-for="(value, key, index) in fruit">{{key}} - {{value}}</p>
          </div>

          <hr>
          <h1>Lista film</h1>
          <ol>
            <li v-for="(film, index) in films"> {{film}} <button @click.prevent="deleteFilm(index)">Elimina Film</button></li>
          </ol>
          <form v-if="viewNew" @submit.prevent="createFilm()">
            <input type="text" v-model="newFilm"/>
            <input type="submit" value="Crea"/>
          </form>
          <button @click.prevent="showNewFilm()">Crea Film</button>
    </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>